.theme-light {
  background-color: #ffffff;
}

/* Шапка документа */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header-menu { 
}

.header-menu-list {
  width: 392px;
  height: 22px;
  display: flex;
  gap: 32px;
  margin-bottom: 3px;
}

.header-menu-item {
  list-style: circle;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.header-menu-list .header-menu-item:first-child {
  list-style-type: none;
  padding-left: 0;
}

.header-menu-link-noline {
  text-decoration: none;
}

.header-menu-link {
  display: block;
}

.header-logo {
  display: block;
}

.header-logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
}

.header-address {
  max-width: 240px;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  color: #000;
  font-style: normal;
}

/* Секция Cover */

.cover {
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cover-content {
  position: relative;
  z-index: 2;
}

.cover-title {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 165px 50px 207px 50px;
}

.aligned-text {
  display: block;
}

.aligned-text-center {
  line-height: 1.55;
  text-align: center;
  margin-right: -29px;
}

.aligned-text-right {
  text-align: right;
  margin-right: -29px;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
}

.cover-description-item {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 0.84em;
}

.cover-description-button {
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

/* Секция с карточками */

.lots {
  padding: 180px 24px 120px 24px;
}


.lots-heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots-cards-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card {
  width: 334px;
  min-height: 596px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-type-film {
  background-image: url(/images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(/images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card-link {
  display: block;
  height: 100%;
}

.card-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
}

.card-title {
  width: 254px;
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}

.card-text {
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  width: 254px;
}

.lots-look-more-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-left: 40px;
  margin-top: 30px;
}

/* Секция About */

.about {
  width: 1052px;
  padding: 120px 24px 180px 24px;
}

.about-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 72px;
}

.about-logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: -85px;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-description {
  width: 680px;
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 100px;
  margin-top: 15px;
}

.about-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.about-text-up {
  margin-bottom: 24px;
}

/* Подвал документа */

.footer {
  display: grid;
  grid-template-columns: 264px min-content 240px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.footer-address {
  width: 264px;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  color: #000;
  font-style: normal;
  margin-top: 2px;
  margin-bottom: 82px;
}

.footer-menu {
}

.footer-menu-list {
  list-style-type: none;
  padding-left: 0;
  width: 170px;
  padding-top: 3px;
  padding-right: 28px;
}

.footer-menu-list-item {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
}

.footer-menu-link {
  white-space: nowrap;
}

.footer-menu-link-active {
  text-decoration: none;
}

.footer-social-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 48px;
}

.footer-social-list-item {
  width: 48px;
  height: 48px;
}

.footer-social-link {
}

.footer-social-icon {
}