.theme-light {
  background-color: #ffffff;
}

/* Шапка документа */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header-menu {
  
}

.header-menu-list {
  width: 392px;
  height: 22px;
  display: flex;
}

.header-menu-item {
  display: list-item;
  list-style: circle;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  padding-left: 32px;
}

.header-menu-list .header-menu-item:first-child {
  list-style-type: none;
  padding-left: 0;
}

.header-menu-link-noline {
  text-decoration: none;
}

.header-menu-link {
  display: block;
}

.header-logo {
  display: block;
}

.header-logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
}

.header-address {
  max-width: 240px;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  color: #000;
  font-style: normal;
}

/* Секция Cover */

.cover {
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 757px;
}

.cover-content {

}

.cover-header {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover-description {

}

.cover-description-item {

}

.cover-description-button {

}

/* Секция с карточками */

.lots {

}

.section-header {

}

.lots-header {

}

.cards-list {

}

.card {

}

.card-item {

}

.card-item-link {

}

/* Секция About */

.about {

}

.about-logo {

}

.about-description {

}

.about-description-header {

}

.about-description-article {

}

/* Подвал документа */

.footer {

}

.footer-address {

}

.footer-menu {

}

.footer-links-list {

}

.footer-link-item {

}